.bg-navbar {
  background-color: #e3f2fd;
}
.navbar-text {
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-row {
  border-top: 2px solid darkgray;
  min-height: 260px;
  width: 100%;
  margin: 0px;
  background: linear-gradient(180deg, #e3f2fd 0%, white);
}

.main {
  min-height: 900px;
  margin-bottom: 50px;
}