<div class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-navbar navbar-text">
    <div class="collapse navbar-collapse container-lg" id="navbarSupportId">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item{{router.url.indexOf(navmenu.link) > -1 ? ' active' : ''}}" *ngFor="let navmenu of navbar">
          <a routerLink="{{navmenu.link}}" class="nav-link" href="#">{{navmenu.title}}</a>
        </li>
      </ul>
      <div class="my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="!user">
            <a routerLink="/login" class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item dropdown" *ngIf="user">
            <!--<a routerLink="/user/{{user.userName}}" class="nav-link" href="#">{{user.userName}}</a>-->
            <a (click)="logout()" class="nav-link" href="#">{{user.userName}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-lg mt-3 main">
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-darkwhite footer ">
    <div class="row justify-content-center footer-row">
        Useless stuff here...
    </div>
  </footer>
</div>